*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    
}

#seccion{
    height: 55px;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 15px;
    margin-top: 55px;
    margin-bottom: 15px;
    background-color: #660273;
}

#seccion2{
    height: 55px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #FFB800;
}

#seccion3{
    height: 55px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 15px;
    background-color: #332465;
}

#seccion h2{
    
    background-color: transparent;
}

#seccion2 h2{
    color: black;
    background-color: transparent;
}

#seccion3 h2{
    background-color: transparent;
}


#seccion img{
    background-color: transparent;
    margin-top: -12px;
    margin-left: 0.5%;
    height: 50px;
}

.torneo{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 240px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgba(102, 2, 115, 0)15%,rgba(102, 2, 115, 1), rgba(102, 2, 115, 0)85%);
}

.torneo2{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 240px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgba(102, 2, 115, 0)15%,rgba(255, 184, 0, 1), rgba(102, 2, 115, 0)85%);
}

.torneo3{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 240px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgba(102, 2, 115, 0)15%,rgba(51, 36, 101, 1), rgba(102, 2, 115, 0)85%);
}


.img-circular{
    border-radius: 50%;
    height: 180px;
}

.info-torneo{
    width: 37%;
    display: flex;
    position: center;
    text-align: center;
    background-color: transparent;
}

.info-torneo p{
    background-color: transparent;
}

#datos{
    margin: auto;
    background-color: transparent;
    font-size: 22px;
}

.marcador{
    width: 20%;
    font-size: 45px;
    margin: auto;
    background-color: transparent;
}

.linea {
    background-color: white;
    border-radius: 10px;
    height: 5px;
    max-width: 90px;
    padding: 0;
    margin: 15px auto 0 auto;
  }