*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Electrolize';
    background-color: #0D0C29;
}

body {
    margin: auto;
}
/* 
h1,h2,h3,span,button,i{
    color: #F2F2F2;
} */

.titulo{
    color: #FFB800;
    font-size: 38px;
    text-align: center;
}

.subtitulo{
    color: #FFB800;
    font-size: 35px;
    margin: auto;
    width: 1440px;
}

.subtituloblco{
    font-size: 35px;
    margin: auto;
    width: 1440px;
}

.img-circularGrande{
    border-radius: 50%;
    height: 210px;
}

.img-circular{
    border-radius: 50%;
    height: 180px;
}

.textY{
    color: #FFB800;
}