*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
    font-family: 'Electrolize';
    background-color: #0D0C29;
}

h1,h2,h3,span,button,i{
    color: #F2F2F2;
}
