*{
    color: aliceblue;
}

header{
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

#banner{
    height: 300px;
    
    overflow: hidden;
}

#banner img{
    object-fit: cover;
    object-position: center;
}

#menu-principal{
    padding-top: 11px;
    height: 56px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #17284A;
}

.hijo-menu {
    width: 150px;
    height: 35px;
    padding-top: 5px;
    background-color: transparent;
}

.hijo-menu a{
    font-family: 'Open Sans';
    background-color: transparent;
    text-decoration: none;
}

#selection{
    width: 150px;
    height: 35px;
    padding-top: 2px;
    border-style: solid;
    border-color: #D705F2;
    background-color: #d605f221;
}

#selection a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #D705F2;
    background-color: transparent;
}

#lineP{
    border-right: #D705F2;
    border-right-style: solid;

}